USE [UserRegistrationDB]
GO
/****** Object:  StoredProcedure [dbo].[UserViewByID]    Script Date: 11-Jul-2017 10:20:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserViewByID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UserViewByID]
GO
/****** Object:  StoredProcedure [dbo].[UserAddOrEdit]    Script Date: 11-Jul-2017 10:20:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAddOrEdit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UserAddOrEdit]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 11-Jul-2017 10:20:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRegistration]') AND type in (N'U'))
DROP TABLE [dbo].[UserRegistration]
GO
USE [master]
GO
/****** Object:  Database [UserRegistrationDB]    Script Date: 11-Jul-2017 10:20:35 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'UserRegistrationDB')
DROP DATABASE [UserRegistrationDB]
GO
/****** Object:  Database [UserRegistrationDB]    Script Date: 11-Jul-2017 10:20:35 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'UserRegistrationDB')
BEGIN
CREATE DATABASE [UserRegistrationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserRegistrationDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\UserRegistrationDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UserRegistrationDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLE2012\MSSQL\DATA\UserRegistrationDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserRegistrationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserRegistrationDB]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 11-Jul-2017 10:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRegistration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserRegistration](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[Address] [varchar](250) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_UserRegistration] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[UserAddOrEdit]    Script Date: 11-Jul-2017 10:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAddOrEdit]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UserAddOrEdit] AS' 
END
GO
ALTER PROC [dbo].[UserAddOrEdit]
@UserID int,
@FirstName varchar(50),
@LastName varchar(50),
@Contact varchar(50),
@Gender varchar(10),
@Address varchar(250),
@Username varchar(50),
@Password varchar(50)
AS
	IF @UserID = 0
	BEGIN
		INSERT INTO UserRegistration (FirstName,LastName,Contact,Gender,Address,Username,Password)
		VALUES (@FirstName,@LastName,@Contact,@Gender,@Address,@Username,@Password)
	END
	ELSE
	BEGIN
		UPDATE UserRegistration
		SET
			FirstName = @FirstName,
			LastName = @LastName,
			Contact = @Contact,
			Gender = @Gender,
			Address = @Address,
			Username=@Username,
			Password = @Password
		WHERE UserID = @UserID
	END

GO
/****** Object:  StoredProcedure [dbo].[UserViewByID]    Script Date: 11-Jul-2017 10:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserViewByID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UserViewByID] AS' 
END
GO
ALTER PROC [dbo].[UserViewByID]
@UserID int
AS
	SELECT *
	FROM UserRegistration
	WHERE UserID = @UserID
GO
USE [master]
GO
